   
        * {  
            box-sizing: border-box;
        }
        body {
            font-family: 'Arial', sans-serif;
            background-color: #F8FBFF; 
            color: #023047;
            line-height: 1.5;
        }

        
        .navbar {
            background-color: #0077B6; 
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            
        }
        .brand {
            color: #FFFFFF;
            font-size: 25px;
            font-weight: bold;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 15px;

        }
        .nav-links {
            list-style: none;
            display: flex;
            margin-left: 10px;
        }
    
        .nav-links a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 6px 13px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .nav-links a:hover {
            background-color: #00b4d8;
        }

 
        .container {
            display: flex;
         min-height: 720px;
        }

       
        .left-side {
           flex: 3;
            background-image: url('./../images/login-page-img.jpg'); 
            background-size: cover;
            background-position: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
        .overlay {
            
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            color: #FFFFFF;
        }
        .quote {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .subtext {
            font-size: 25px;
        }

        .right-side {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 33px;
        }
        .login-card {
            background-color: #FFFFFF;
            padding: 32px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 450px;
            height: 460px;
           
        }
        .login-card h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #023047; 
        }
        .form-group {
            margin-bottom: 16px;
        }
        .form-group label {
            display: block;
            margin-bottom: 7px;
            color: #023047;
        }
        .form-group input {
            width: 100%;
            padding: 13px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            border-color: #2a717f;
        }
        
        .btn {
            width: 100%;
            padding: 13px;
            border: none;
            border-radius: 5px;
            font-size: 17px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 4px;
            margin-top: 10px;
            
        }
        .btn-primary {
            background-color: #0077b6; 
            color: #FFFFFF;
          
        }
        .btn-primary:hover {
            background-color: #00b4d8;
        }
        
        .links {
            text-align: center;
            margin-top: 16px;
        }
        .links a {
            color: #0077B6;
            text-decoration: none;

        }
        .links a:hover {
            color: #00B4D8; 
        }

        
       @media only screen and (max-width: 600px) {
    body {
        background-color: #ffffff;
        font-size: 15px;
    }
}
   